<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipe👨‍💻👩‍💻
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <img alt="Jonh"
        src="https://cdn.discordapp.com/attachments/1152053591943696504/1160476296632074321/WhatsApp_Image_2023-04-25_at_23.06.36.jpeg?ex=6534ccc5&is=652257c5&hm=a0f51ea500c21f2302b332c1f95fbc9b2e3fdd193739ea640b8e15801430be7f&" />
      <ion-card-header>
        <ion-card-title>João Arthur 👨‍💻</ion-card-title>
        <ion-card-subtitle>01558846</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        DEVOP "Garoto de programa 1..."
      </ion-card-content>

    </ion-card><ion-card>
      <img alt="Mai"
        src="https://cdn.discordapp.com/attachments/1152053591943696504/1159239280003125278/foto_de_perfil_2.jpg?ex=65304cb5&is=651dd7b5&hm=25d28aa2da06f63d0e55c1a1b5781da2491af9696baf997c052c187a732f4135&" />
      <ion-card-header>
        <ion-card-title>Maisa Souza 👩‍💻</ion-card-title>
        <ion-card-subtitle>01508744</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Progamadora "Garota de programa 2..."
      </ion-card-content>

    </ion-card><ion-card>
      <img alt="Mercin"
        src="https://cdn.discordapp.com/attachments/1152053591943696504/1159239063333777408/IMG_4154.png?ex=65304c82&is=651dd782&hm=6df79cb6e2ffc1106a8b902a4648163751f0884389e13107cf7653eab268b890&" />
      <ion-card-header>
        <ion-card-title>Emerson Aquino 👨‍💻</ion-card-title>
        <ion-card-subtitle>01501853</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Programador "Garoto de programa 3..."
      </ion-card-content>

    </ion-card><ion-card>
      <img alt="Renas"
        src="https://cdn.discordapp.com/attachments/1152053591943696504/1159238585631916187/988000F0-3EB6-4002-BFF1-3DEE3D632D36.jpg?ex=65304c10&is=651dd710&hm=7f078993b978202233ea87e7db78cdd937e0e8ee1b715d006cf7350cdeeedab1&" />
      <ion-card-header>
        <ion-card-title>Renan Zloccowick 👨‍💻</ion-card-title>
        <ion-card-subtitle>01529935</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Engenheiro de software "Garoto de programa 4..."
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Renas"
        src="https://cdn.discordapp.com/attachments/1152053591943696504/1160480568442626079/WhatsApp_Image_2023-06-15_at_16.30.21.jpeg?ex=6534d0c0&is=65225bc0&hm=b2cfc823b18e28f7837f4d17e76eac6dbc6248620c803bc66967b1b1c6fd0296&" />
      <ion-card-header>
        <ion-card-title>Amanda Alves 👩‍💻</ion-card-title>
        <ion-card-subtitle>01535268</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Progamadora de IA "Garota de programa 5..."
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>