.card-busca-cep {
  display: flex;
  flex-direction: column;
}

.card-busca-cep-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#card-header-pokemon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}