<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Atendente</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content class="ionCardContent">
      <ion-header class="ionHeader">
        Guichê 1
      </ion-header>
      <ion-button class="ionButton" expand="block"  (click)="senhasService.chamarSenha('Guichê 1')">Chamar Senha</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ionCardContent">
      <ion-header class="ionHeader">
        Guichê 2
      </ion-header>
      <ion-button class="ionButton" expand="block" (click)="senhasService.chamarSenha('Guichê 2')">Chamar Senha</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
