<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestão/Atendimentos📰🗞️
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>Relatório</ion-label>
        <ion-item>Senhas emitidas: {{senhasService.senhasTotal}}</ion-item>
        <ion-item>Senhas Geral: {{senhasService.senhasGeral}}</ion-item>
        <ion-item>Senhas Prioritárias: {{senhasService.senhasPrior}}</ion-item>
        <ion-item>Senhas Exame: {{senhasService.senhasExame}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Senhas Chamadas:
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let senha of senhasService.senhasChamada">
        <ion-item>
          {{ senha }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>